Predictive model

In [2]:
import pandas as pd
import os

In [3]:
# Load the filtered data
data_path = os.path.join('..', 'data', 'columbia_filtered_citibike.csv')
df = pd.read_csv(data_path, parse_dates=['started_at', 'ended_at'])

print(f"Loaded DataFrame shape: {df.shape}")
print(f"Total rows: {df.shape[0]:,}")
print(f"Total columns: {df.shape[1]}")

C:\Users\Αφροδίτη Φραγκιαδάκη\AppData\Local\Temp\ipykernel_4964\2636247212.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(data_path, parse_dates=['started_at', 'ended_at'])

Loaded DataFrame shape: (529908, 13)
Total rows: 529,908
Total columns: 13

In [12]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [5]:
df.head(10)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,DF041079291BCB57,classic_bike,2024-01-01 00:05:39.030,2024-01-01 00:29:03.147,W 116 St & Amsterdam Ave,7692.11,W 116 St & Amsterdam Ave,7692.11,40.806758,-73.960708,40.806758,-73.960708,casual
1,ECC36795CBE519C0,electric_bike,2024-01-01 00:12:53.593,2024-01-01 00:44:46.877,W 45 St & 8 Ave,6676.02,W 113 St & Broadway,7713.01,40.759291,-73.988597,40.805973,-73.964928,casual
2,09AEBF4510BFBE52,electric_bike,2024-01-01 00:13:21.695,2024-01-01 00:45:09.962,W 45 St & 8 Ave,6676.02,W 113 St & Broadway,7713.01,40.759291,-73.988597,40.805973,-73.964928,casual
3,79C06624CD5FDD91,electric_bike,2024-01-01 00:13:27.263,2024-01-01 00:44:31.619,W 45 St & 8 Ave,6676.02,W 113 St & Broadway,7713.01,40.759291,-73.988597,40.805973,-73.964928,casual
4,E4C6AAB102A0EFD9,electric_bike,2024-01-01 00:13:30.398,2024-01-01 00:44:39.129,W 45 St & 8 Ave,6676.02,W 113 St & Broadway,7713.01,40.759291,-73.988597,40.805973,-73.964928,casual
5,A0B8F0DEB214CBBE,electric_bike,2024-01-01 00:13:59.871,2024-01-01 00:44:56.412,W 45 St & 8 Ave,6676.02,W 113 St & Broadway,7713.01,40.759291,-73.988597,40.805973,-73.964928,casual
6,167C2AFE19E42E4D,electric_bike,2024-01-01 00:19:26.001,2024-01-01 00:26:03.535,Lenox Ave & W 126 St,7720.03,W 120 St & Claremont Ave,7745.07,40.808442,-73.945209,40.810949,-73.963400,member
7,3572EA2A5901CFEE,electric_bike,2024-01-01 00:27:28.723,2024-01-01 00:37:54.741,W 120 St & Claremont Ave,7745.07,1 Ave & E 110 St,7522.02,40.810949,-73.963400,40.792327,-73.938300,casual
8,348F0FF5E539F030,electric_bike,2024-01-01 00:38:59.943,2024-01-01 00:42:24.390,Morningside Dr & Amsterdam Ave,7741.04,W 120 St & Claremont Ave,7745.07,40.810285,-73.957365,40.810949,-73.963400,member
9,F14AA5C4F9C739C8,electric_bike,2024-01-01 00:45:18.310,2024-01-01 00:50:53.857,W 106 St & Amsterdam Ave,7634.01,W 120 St & Claremont Ave,7745.07,40.800836,-73.966449,40.810949,-73.963400,member

In [13]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

Lets drop columns that are not gonna be used into the analysis

In [16]:
df_feat = df.copy()

# keeping only relevant columns
df_feat = df_feat[[
    "started_at",
    "ended_at",
    "start_station_name",
    "end_station_name"
]]

Split outflow/inflow

In [ ]:
outflow_df = df_feat[["start_station_name", "started_at"]].copy()
outflow_df.rename(columns={
    "start_station_name": "station",
    "started_at": "timestamp"
}, inplace=True)
outflow_df["flow_type"] = "outflow"

In [52]:
outflow_df.head(5)

                    station               timestamp flow_type
0  W 116 St & Amsterdam Ave 2024-01-01 00:05:39.030   outflow
1           W 45 St & 8 Ave 2024-01-01 00:12:53.593   outflow
2           W 45 St & 8 Ave 2024-01-01 00:13:21.695   outflow
3           W 45 St & 8 Ave 2024-01-01 00:13:27.263   outflow
4           W 45 St & 8 Ave 2024-01-01 00:13:30.398   outflow

In [53]:
inflow_df = df_feat[["end_station_name", "ended_at"]].copy()
inflow_df.rename(columns={
    "end_station_name": "station",
    "ended_at": "timestamp"
}, inplace=True)
inflow_df["flow_type"] = "inflow"

inflow_df.head(5)

                    station               timestamp flow_type
0  W 116 St & Amsterdam Ave 2024-01-01 00:29:03.147    inflow
1       W 113 St & Broadway 2024-01-01 00:44:46.877    inflow
2       W 113 St & Broadway 2024-01-01 00:45:09.962    inflow
3       W 113 St & Broadway 2024-01-01 00:44:31.619    inflow
4       W 113 St & Broadway 2024-01-01 00:44:39.129    inflow

Lets keep only the 7 stations we care about

In [59]:
columbia_stations = [
    "W 116 St & Amsterdam Ave",
    "W 113 St & Broadway",
    "W 116 St & Broadway",
    "Amsterdam Ave & W 119 St",
    "Broadway & W 122 St",
    "Morningside Dr & Amsterdam Ave",
    "W 120 St & Claremont Ave"
]

In [60]:
outflow_df = outflow_df[outflow_df["station"].isin(columbia_stations)].copy()
inflow_df  = inflow_df[inflow_df["station"].isin(columbia_stations)].copy()

In [63]:
print(len(outflow_df["station"].unique()))
print(len(inflow_df["station"].unique()))

7
7

Lets extract features

In [ ]:
outflow_df["timestamp"] = pd.to_datetime(outflow_df["timestamp"])
inflow_df["timestamp"]  = pd.to_datetime(inflow_df["timestamp"])

In [65]:
#Extracting hour, year, month,weekday and is_weekend
for df_event in [outflow_df, inflow_df]:
    df_event["hour"] = df_event["timestamp"].dt.hour
    df_event["year"] = df_event["timestamp"].dt.year
    df_event["month"] = df_event["timestamp"].dt.month
    df_event["weekday"] = df_event["timestamp"].dt.weekday
    df_event["is_weekend"] = df_event["weekday"].isin([5, 6]).astype(int)

In [66]:
outflow_df

,station,timestamp,flow_type,year,month,weekday,is_weekend,hour
0,W 116 St & Amsterdam Ave,2024-01-01 00:05:39.030,outflow,2024,1,0,0,0
7,W 120 St & Claremont Ave,2024-01-01 00:27:28.723,outflow,2024,1,0,0,0
8,Morningside Dr & Amsterdam Ave,2024-01-01 00:38:59.943,outflow,2024,1,0,0,0
15,Broadway & W 122 St,2024-01-01 01:30:54.556,outflow,2024,1,0,0,1
21,Morningside Dr & Amsterdam Ave,2024-01-01 02:01:07.226,outflow,2024,1,0,0,2
...,...,...,...,...,...,...,...,...
529891,Amsterdam Ave & W 119 St,2025-10-31 23:19:53.630,outflow,2025,10,4,0,23
529894,W 120 St & Claremont Ave,2025-10-31 23:24:10.286,outflow,2025,10,4,0,23
529897,W 113 St & Broadway,2025-10-31 23:29:36.873,outflow,2025,10,4,0,23
529904,W 113 St & Broadway,2025-10-31 23:41:38.825,outflow,2025,10,4,0,23
529906,Amsterdam Ave & W 119 St,2025-10-31 23:47:54.310,outflow,2025,10,4,0,23

In [67]:
import holidays

years_in_data = sorted(
    pd.concat([outflow_df["timestamp"], inflow_df["timestamp"]]).dt.year.unique()
)

us_holidays = holidays.US(years=years_in_data)

for df_event in [outflow_df, inflow_df]:
    df_event["is_holiday"] = df_event["timestamp"].dt.date.map(
        lambda d: d in us_holidays
    ).astype(int)

In [68]:
#Sanity check
outflow_df[outflow_df["is_holiday"] == 1].sample(3)

,station,timestamp,flow_type,year,month,weekday,is_weekend,hour,is_holiday
392859,W 116 St & Broadway,2025-06-19 20:10:51.579,outflow,2025,6,3,0,20,1
164161,W 113 St & Broadway,2024-09-02 19:16:55.158,outflow,2024,9,0,0,19,1
458844,W 113 St & Broadway,2025-09-01 15:44:31.883,outflow,2025,9,0,0,15,1